{
  "presets": [
    "react",
    "stage-1",
    "flow"
  ],
  "env": {
    "development": {
      "presets": [
        "env",
        "react-hmre"
      ],
      "plugins": [
        "transform-regenerator",
        [
          "transform-class-properties",
          {
            "spec": true
          }
        ]
      ]
    },
    "production": {
      "presets": [
        [
          "env",
          {
            "es2015": {
              "modules": false
            },
            "targets": {
              "ie": 9,
              "uglify": true
            }
          }
        ]
      ],
      "plugins": [
        "transform-regenerator",
        "transform-react-constant-elements",
        "transform-react-remove-prop-types",
        [
          "transform-class-properties",
          {
            "spec": true
          }
        ]
      ]
    },
    "test": {
      "presets": [
        "env"
      ],
      "plugins": [
        "transform-regenerator",
        [
          "transform-class-properties",
          {
            "spec": true
          }
        ]
      ]
    }
  }
}
