{
  "extends": ["react-app", "airbnb", "plugin:jsx-a11y/recommended", "plugin:import/errors", "plugin:import/warnings"],
  "plugins": ["react", "jsx-a11y"],
  "rules": {
    "jsx-a11y/href-no-hash": 0,
    "jsx-a11y/anchor-is-valid": 0
  }
}
